@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    min-height: 100vh;
}

html.dark {
    background-image: url("/bg-dark.jpg"), linear-gradient(to right, #1c1535, #0f1525);
}

html.light {
    background-image: url("/bg-light.jpg") ,linear-gradient(to right, #ffb0cd, #ed9edd);
}